.features {
  @include desk-min {
    padding-bottom: 47px;
  }
}

.features__title {
  @extend %vis-hide;
}
.feat-list {
  @extend %list;
  @include tab-min {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.feat-list__item {
  width: 450px;
  @include mob-max {
    width: calc(100vw - 30px);
  }
  @include tab-max {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @include tab-min {
    width: 354px;
  }
  @include desk-min {
    width: 270px;
  }
}

.feat-list__block {
  @include flex();
  margin-bottom: 30px;
  background: var(--secondary-bkg-color);
  border-radius: 4px;
  height: 120px;
}
.feat-list__icon {
  @extend %icon;
}
.feat-list__title {
  @include font(null, 14px, 1.14);
  @extend %title;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  @include tab-min {
    text-align: start;
  }
}
