.footer {
  background-color: var(--thirdary-bkg-color);
  padding: 60px 0;
}
.footer__container {
  @extend %container;
  @include flex($alig: baseline);
}

.footer__address {
  width: 231px;
  margin-right: 70px;
}
.address {
  font-style: normal;
}
.address__list {
  @extend %list;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  @extend %link;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link--mapscolor {
  color: var(--primary-bkg-color);
}

.join {
  margin-right: 93px;
}

.join__text,
.subscription__text {
  display: block;
  color: var(--primary-bkg-color);
  margin-bottom: 20px;
  @include font(700, 14px, 1.14);
  text-transform: uppercase;
}

.subscription__box {
  @extend %flex;
  gap: 12px;
}

.subscription__input {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 15px;
  @include font(null, 16px, 1.25);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--thirdary-bkg-color);
  color: rgba(255, 255, 255, 0.6);
  transition: border 250ms var(--cubic);

  &:focus {
    border: 1px solid var(--accent-color);
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.subscription__button {
  @include flex($just: null);
  padding: 0 28px;
}
