.hero {
  @extend %section;
  background-color: var(--thirdary-bkg-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero-bkg.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.hero__container {
  @extend %container;
  padding-top: 106px;
  padding-bottom: 106px;
  text-align: center;
}
.hero__title {
  color: var(--primary-bkg-color);
  @include font(900, 44px, 1.36);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0px auto 30px auto;
}
