.btn-list {
  @include flex($alig: null);
  margin-bottom: 50px;
  gap: 8px;
}
.btn-list .button {
  padding: 6px 22px;
}
.portfolio .button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bkg-color);
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic),
    box-shadow 250ms var(--cubic);
}
.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--primary-bkg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portf-list > li {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms var(--cubic);
}
.portf-list > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portf-img {
  position: relative;
  overflow: hidden;
}
.portf-img .text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  color: var(--primary-bkg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms var(--cubic);
}

.portf-list li:hover .portf-img > .text {
  transform: translateY(0);
}

.portf-list .title {
  text-align: left;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.portf-inner .text {
  font-size: 16px;
  line-height: 1.87;
}
.portf-inner {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
