.hero .button,
.subscription .btn,
.userdata .btn {
  color: var(--primary-bkg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  height: 50px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic);
}
.hero .button:hover,
.hero .button:focus,
.subscription .btn:hover,
.subscription .btn:focus,
.userdata .btn:hover,
.userdata .btn:focus {
  background-color: #188ce8;
}
