.logo {
  display: block;
  @extend %link;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  @include font(700, 24px, 1.16);
  @include desk-min {
    @include font(700, 26px, 1.19);
  }
  &__studio {
    color: #000000;
  }
}

.header__logo {
  @include desk-min {
    margin-right: 93px;
  }
  @include tab-min {
    margin-right: 88px;
  }
}

.footer__logo__studio {
  color: var(--primary-bkg-color);
}
.footer__logo {
  text-align: center;

  margin-bottom: 20px;
  @include tab-min {
    margin-right: 0px;
  }
  @include desk-min {
    text-align: start;
  }
}
