.logo {
  display: block;
  @extend %link;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 1.19);
  margin-right: 93px;
}
.logo__studio {
  color: #000000;
}
.footer__logo__studio {
  color: var(--primary-bkg-color);
}
