.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity 1000ms var(--cubic), visibility 1000ms var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: scale(0.2) rotate3d(1, 1, 1, 1440deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 1000ms var(--cubic);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  @include flex();
  width: 30px;
  height: 30px;
  background-color: var(--primary-bkg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: #000000;
  transition: color 250ms var(--cubic);
}
.btn-modal:hover,
.btn-modal:focus {
  color: var(--accent-color);
}

.userdata {
  padding: 40px;
}
.userdata-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.userdata .text,
.userdata .input,
.userdata .area {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.userdata .text {
  margin-bottom: 4px;
}

.userdata .field {
  position: relative;
  margin-bottom: 10px;
}
.userdata .input {
  width: 100%;
  height: 40px;
  padding-left: 31px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}
.userdata .input:focus {
  border: 1px solid var(--accent-color);
}
.userdata .icon {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 10px;
  color: var(--secondary-text-color);
  transition: color 250ms var(--cubic);
}
.userdata .input:focus + .icon {
  color: var(--accent-color);
}
.userdata .area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}
.userdata .area:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.userdata .area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.userdata .applybox {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.applybox .check {
  appearance: none;
}
.applybox .check:checked + .conditions > .check-icon {
  background-origin: border-box;
  background-size: contain;
  background-image: url(../images/icon-check.svg);
  border-color: transparent;
}
.apply-link {
  color: var(--accent-color);
}
.conditions .check-icon {
  position: absolute;
  top: 50%;
  left: 7px;
  width: 16px;
  height: 15px;
  translate: 0 -50%;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
}
.userdata .btn {
  display: block;
  margin: 0 auto;
}
