.social {
  @extend %list;
  @include flex($alig: null);
  margin-top: 16px;
  gap: 10px;
}

.social__link,
.join .link {
  @extend %link;
  @include flex();
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bkg-color);
  color: var(--icon-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);

  &:hover,
  &:focus,
  .join .link:hover,
  .join .link:focus {
    color: var(--primary-bkg-color);
    background-color: var(--accent-color);
  }
}
.social__icon {
  @extend %icon;
}
