/* *,
*::after,
* ::before {
  outline: 1px solid red;
} */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bkg-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* constant identical properties */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  padding-left: 0px;
}
svg {
  display: block;
}

img {
  display: block;
  max-width: 200%;
  height: auto;
}
button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.section {
  padding: 60px 0;
  @include desk-min {
    padding: 94px 0;
  }
}
.container {
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @include mob-min {
    width: 480px;
  }
  @include tab-min {
    width: 768px;
  }
  @include desk-min {
    width: 1200px;
  }
}
