/* *,
*::after,
* ::before {
  outline: 1px solid red;
} */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bkg-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  min-width: 1200px;
}

/* constant identical properties */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  padding-left: 0px;
}
svg {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  font-family: inherit;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
