@mixin flex($just: center, $alig: center) {
  display: flex;
  justify-content: $just;
  align-items: $alig;
}
@mixin font($wieg, $size, $heig) {
  font-weight: $wieg;
  font-size: $size;
  line-height: $heig;
}
