// @extend %section;
// @extend %container;
// @extend %list;
// @extend %link;
// @extend %title;
// @extend %icon;
// @extend %vishide;
// @extend %flex;

%section {
  padding: 94px 0;
}

%container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

%flex {
  display: flex;
}
%list {
  list-style: none;
}

%link {
  text-decoration: none;
}

%title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

%icon {
  fill: currentColor;
}

%vis-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
