:root {
  --primary-text-color: #757575;
  --primary-bkg-color: #ffffff;
  --secondary-text-color: #212121;
  --secondary-bkg-color: #f5f4fa;
  --accent-color: #2196f3;
  --thirdary-bkg-color: #2f303a;
  --icon-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
